In [1]:
from google.colab import files
uploaded = files.upload()

Saving casas.csv to casas.csv

In [0]:
import io
import pandas as pd

df = pd.read_csv(io.BytesIO(uploaded['casas.csv']))

In [24]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [0]:
X = df.drop('preco', axis=1)
y = df['preco']

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [28]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [0]:
from sklearn.linear_model import LinearRegression

In [30]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
modelo.predict([[120,2001,2]])

array([191436.53503831])